{% extends "base.html" %}

{% block content %}

  <script>
  $('.nav-link.home').addClass('active');
  </script>
  <h1>Welcome to Airports-API</h1>
  <h2>developed by Alex Bae</h2>
  <br/>
  <br/>

  <div class="jumbotron" style="text-align:left">
    <h1 class="display-5">HTTP Requests</h1>
    <hr class="pt-2">
    <p>
      <b>Get all airports:</b><br/>
      GET https://django-airport-api.herokuapp.com/airport/api/airport/?page=[page]
    </p>
    <p>
      <b>Get airport by ID:</b><br/>
      GET https://django-airport-api.herokuapp.com/airport/api/airport/[ID]
    </p>
    <p>
      <b>Search airport:</b><br/>
      GET https://django-airport-api.herokuapp.com/airport/api/airport/?search=[query]
    </p>
    <a class="btn btn-primary btn-lg" href="https://github.com/baehs1989/django-airport-api" target="_blank" role="button">Github</a>
  </div>



{% endblock %}